Published/v1.0.0.0/HymnalInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:mstns="http://rjstevensmusic.com/PresentationCreator/Schema/HymnalInformation.xsd" elementFormDefault="qualified" targetNamespace="http://rjstevensmusic.com/PresentationCreator/Schema/HymnalInformation.xsd" version="1.1" id="HymnalInformation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation> 
     Hymnal Information XML Schema

     Copyright (c) 2008  R.J. Stevens Music and Bryan Ellis
     All rights reserved world wide
     
     For use with R.J. Stevens Music Presentation Creator
     
     History:
       Schema Version 1.1 released on 2008/07/23 as part of Presentation Creator version 1.0.2.24 installation.
       Schema Version 1.0 released on 2008/07/10 as part of Presentation Creator version 1.0.2.8  installation.
</xs:documentation>
  </xs:annotation>
  <xs:simpleType id="VocalParts" name="VocalParts">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Soprano" />
      <xs:enumeration value="Alto" />
      <xs:enumeration value="Tenor" />
      <xs:enumeration value="Bass" />
      <xs:enumeration value="2nd Soprano" />
      <xs:enumeration value="2nd Alto" />
      <xs:enumeration value="2nd Tenor" />
      <xs:enumeration value="2nd Bass" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="Octave" name="Octave">
    <xs:restriction base="xs:string">
      <xs:enumeration value="+4" />
      <xs:enumeration value="+3" />
      <xs:enumeration value="+2" />
      <xs:enumeration value="+1" />
      <xs:enumeration value="" />
      <xs:enumeration value="-1" />
      <xs:enumeration value="-2" />
      <xs:enumeration value="-3" />
      <xs:enumeration value="-4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType id="VocalRange" name="VocalRange">
    <xs:attribute name="vocalPart" type="mstns:VocalParts" use="required" />
    <xs:attribute name="lowestPitch" type="mstns:Pitch" use="required" />
    <xs:attribute name="lowestOctave" type="mstns:Octave" use="required" />
    <xs:attribute name="highestPitch" type="mstns:Pitch" use="required" />
    <xs:attribute name="highestOctave" type="mstns:Octave" use="required" />
    <xs:attribute name="description" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType id="Portion" name="Portion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hymnal" />
      <xs:enumeration value="Hymn" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Composition" />
      <xs:enumeration value="Arrangement" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="Pitch" name="Pitch">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DO" />
      <xs:enumeration value="DI" />
      <xs:enumeration value="RA" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="FA" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="SOL" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="LE" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="LI" />
      <xs:enumeration value="TE" />
      <xs:enumeration value="TI" />
      <xs:enumeration value="DO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="Time" name="Time">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2/2" />
      <xs:enumeration value="2/4" />
      <xs:enumeration value="6/4" />
      <xs:enumeration value="6/8" />
      <xs:enumeration value="3/2" />
      <xs:enumeration value="3/4" />
      <xs:enumeration value="9/4" />
      <xs:enumeration value="9/8" />
      <xs:enumeration value="4/2" />
      <xs:enumeration value="4/4" />
      <xs:enumeration value="12/4" />
      <xs:enumeration value="12/8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="Key" name="Key">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ab" />
      <xs:enumeration value="A" />
      <xs:enumeration value="Abm" />
      <xs:enumeration value="A#m" />
      <xs:enumeration value="Bb" />
      <xs:enumeration value="B" />
      <xs:enumeration value="Bbm" />
      <xs:enumeration value="Bm" />
      <xs:enumeration value="Cb" />
      <xs:enumeration value="C" />
      <xs:enumeration value="Cm" />
      <xs:enumeration value="C#m" />
      <xs:enumeration value="Db" />
      <xs:enumeration value="D" />
      <xs:enumeration value="Dm" />
      <xs:enumeration value="D#m" />
      <xs:enumeration value="Eb" />
      <xs:enumeration value="E" />
      <xs:enumeration value="Ebm" />
      <xs:enumeration value="Em" />
      <xs:enumeration value="F" />
      <xs:enumeration value="F#" />
      <xs:enumeration value="Fm" />
      <xs:enumeration value="F#m" />
      <xs:enumeration value="Gb" />
      <xs:enumeration value="G" />
      <xs:enumeration value="Gm" />
      <xs:enumeration value="G#m" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="BeatPattern" name="BeatPattern">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2" />
      <xs:enumeration value="2c" />
      <xs:enumeration value="3" />
      <xs:enumeration value="3c" />
      <xs:enumeration value="4" />
      <xs:enumeration value="4c" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="PitchDirection" name="PitchDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="Up" />
      <xs:enumeration value="Down" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="BeatNumber" name="BeatNumber">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="1a" />
      <xs:enumeration value="1n" />
      <xs:enumeration value="1d" />
      <xs:enumeration value="1+" />
      <xs:enumeration value="2" />
      <xs:enumeration value="2a" />
      <xs:enumeration value="2n" />
      <xs:enumeration value="2d" />
      <xs:enumeration value="2+" />
      <xs:enumeration value="3" />
      <xs:enumeration value="3a" />
      <xs:enumeration value="3n" />
      <xs:enumeration value="3d" />
      <xs:enumeration value="3+" />
      <xs:enumeration value="4" />
      <xs:enumeration value="4a" />
      <xs:enumeration value="4n" />
      <xs:enumeration value="4d" />
      <xs:enumeration value="4+" />
      <xs:enumeration value="5" />
      <xs:enumeration value="5a" />
      <xs:enumeration value="5n" />
      <xs:enumeration value="5d" />
      <xs:enumeration value="5+" />
      <xs:enumeration value="6" />
      <xs:enumeration value="6a" />
      <xs:enumeration value="6n" />
      <xs:enumeration value="6d" />
      <xs:enumeration value="6+" />
      <xs:enumeration value="7" />
      <xs:enumeration value="7a" />
      <xs:enumeration value="7n" />
      <xs:enumeration value="7d" />
      <xs:enumeration value="7+" />
      <xs:enumeration value="8" />
      <xs:enumeration value="8a" />
      <xs:enumeration value="8n" />
      <xs:enumeration value="8d" />
      <xs:enumeration value="8+" />
      <xs:enumeration value="9" />
      <xs:enumeration value="9a" />
      <xs:enumeration value="9n" />
      <xs:enumeration value="9d" />
      <xs:enumeration value="9+" />
      <xs:enumeration value="10" />
      <xs:enumeration value="10a" />
      <xs:enumeration value="10n" />
      <xs:enumeration value="10d" />
      <xs:enumeration value="10+" />
      <xs:enumeration value="11" />
      <xs:enumeration value="11a" />
      <xs:enumeration value="11n" />
      <xs:enumeration value="11d" />
      <xs:enumeration value="11+" />
      <xs:enumeration value="12" />
      <xs:enumeration value="12a" />
      <xs:enumeration value="12n" />
      <xs:enumeration value="12d" />
      <xs:enumeration value="12+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="AddressType" name="AddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Home" />
      <xs:enumeration value="Work" />
      <xs:enumeration value="Shipping" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType id="Address" name="Address">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="3" name="line" type="xs:string" />
      <xs:element name="city" type="xs:string" />
      <xs:element name="state">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="zipcode" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="type" type="mstns:AddressType" />
  </xs:complexType>
  <xs:simpleType id="PhoneNumber" name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:minLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PhoneNumberType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Home" />
      <xs:enumeration value="Work" />
      <xs:enumeration value="Cell" />
      <xs:enumeration value="Fax" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType id="Phone" name="Phone">
    <xs:attribute name="number" type="mstns:PhoneNumber" use="required" />
    <xs:attribute name="type" type="mstns:PhoneNumberType" use="required" />
    <xs:attribute name="description" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType id="Month" name="Month">
    <xs:restriction base="xs:byte">
      <xs:minInclusive value="01" />
      <xs:maxInclusive value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="Year" name="Year">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="2999" />
      <xs:minInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual" />
      <xs:enumeration value="Business" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType id="Entity" name="Entity">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="4" name="address" type="mstns:Address" />
      <xs:element minOccurs="0" maxOccurs="8" name="phone" type="mstns:Phone" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="type" type="mstns:EntityType" use="required" />
  </xs:complexType>
  <xs:complexType id="Printing" name="Printing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Publisher" type="mstns:Entity" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="month" type="mstns:Month" use="optional" />
    <xs:attribute name="year" type="mstns:Year" use="optional" />
  </xs:complexType>
  <xs:complexType id="Hymnal" name="Hymnal">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="alias" type="xs:string" />
      <xs:element minOccurs="0" name="folder" type="xs:string" />
      <xs:element minOccurs="0" name="electronicVersion" type="xs:string" />
      <xs:element minOccurs="0" name="updateURL" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Editor" type="mstns:Entity" />
      <xs:element minOccurs="0" maxOccurs="1" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="copyright" type="mstns:Copyright" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="printing" type="mstns:Printing" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="commentary" type="mstns:Commentary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hymn" type="mstns:Hymn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType id="Copyright" name="Copyright">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="copyrightHolder" type="mstns:Entity" />
      <xs:element minOccurs="0" maxOccurs="1" name="startYear" type="mstns:Year" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="renewalYear" type="mstns:Year" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="xs:string" />
      <xs:element minOccurs="0" default="Standard" name="scope" type="mstns:CopyrightScope" />
      <xs:element minOccurs="0" name="portionCopyrighted" type="mstns:Portion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType id="CopyrightScope" name="CopyrightScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="International" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType id="Role" name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Writer" />
      <xs:enumeration value="Composer" />
      <xs:enumeration value="Arranger" />
      <xs:enumeration value="Owner" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType id="SongLeaderInfo" name="SongLeaderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vocalRange" type="mstns:VocalRange" />
    </xs:sequence>
    <xs:attribute name="key" type="mstns:Key" use="optional" />
    <xs:attribute name="time" type="mstns:Time" use="optional" />
    <xs:attribute name="complexTime" type="xs:string" use="optional" />
    <xs:attribute name="startingPitch" type="mstns:Pitch" use="optional" />
    <xs:attribute name="startingPitchDirection" type="mstns:PitchDirection" use="optional" />
    <xs:attribute name="beatPattern" type="mstns:BeatPattern" use="optional" />
    <xs:attribute name="startingBeat" type="mstns:BeatNumber" use="optional" />
  </xs:complexType>
  <xs:complexType id="Commentary" name="Commentary">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="text" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="writer" type="mstns:Originator" />
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="optional" />
  </xs:complexType>
  <xs:simpleType id="HymnPortion" name="HymnPortion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="Chorus" />
      <xs:enumeration value="Last Chorus" />
      <xs:enumeration value="Coda" />
      <xs:enumeration value="Refrain" />
      <xs:enumeration value="Sanctus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType id="hymnPortion" name="hymnPortion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="writer" type="mstns:Originator" />
    </xs:sequence>
    <xs:attribute name="portion" type="mstns:HymnPortion" use="required" />
  </xs:complexType>
  <xs:complexType id="Originator" name="Originator">
    <xs:complexContent mixed="false">
      <xs:extension base="mstns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="year" type="mstns:Year" />
        </xs:sequence>
        <xs:attribute name="role" type="mstns:Role" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType id="Hymn" name="Hymn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="songLeaderInfo" type="mstns:SongLeaderInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="originator" type="mstns:Originator" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="copyright" type="mstns:Copyright" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hymnPortion" type="mstns:hymnPortion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="topicalIndex" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="scripture" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="commentary" type="mstns:Commentary" />
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required" />
    <xs:attribute name="title" type="xs:string" use="required" />
  </xs:complexType>
  <xs:element name="contents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="hymnal" type="mstns:Hymnal" />
      </xs:sequence>
      <xs:attribute name="description" type="xs:string" use="optional" />
      <xs:attribute name="releaseDate" type="xs:date" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>